main {
		margin: auto;
		padding: 1rem;
		width: 1000px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
.inicio{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 30px;
	}

.imagen-lado{
	width: 26%;
	max-width: 400%;
	margin-left: 14%;
	border-radius: 150px;
	box-shadow: 0 0 40px rgb(0, 247, 255);
	margin-top: 25px;
	
}








.texto-lado{
	width: 100%;
}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 30px;
		font-weight: 700;
		line-height: 1;
		text-align: left;
		margin-bottom: 1em;
		
		
	}

	.p-v2{
	font-weight: 200px;
	
	}

	.p-vcolor{
		color: aqua;
		font-weight: 200px;
		
	}
	.text-gradient {
        font-weight: bold;
        color: transparent; /* Hacer el texto transparente */
        background-image: var(--accent-gradient);
        background-clip: text; /* Esta propiedad no tiene prefijo */
        -webkit-background-clip: text; /* También mantener la versión con prefijo */
        background-size: 400%;
        background-position: 0%;
        text-shadow: 0 0 10px rgb(0, 255, 242);
	}

	.instructions{
font-size: 15px;
	}

	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}

.social-link{
	padding-bottom: 10px;
}	


.social-link a {
	
    display: inline-block;
    min-height: 30px;
    width: 40px;
    background-color: #070707;
    margin: 0 15px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #72d2fb;
    transition: all .5s ease;
	font-size: 15px;
	box-shadow: 0 0 20px rgb(0, 238, 255);
}

.social-link a:hover {
    background-color: #f9f5f0;
}

.footer-links ul li a:hover {
    color: #fff;
    padding-left: 6px;
}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	.buton1 {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.buton1 button {
  background-color: #03d5ff;
  color: #000000;
  border: none;
  padding: 10px 40px;
  margin-right: 40px;
  border-radius: 20px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 0 7px rgb(0, 238, 255);
}


.buton1 button:hover{
  background-color: #000000;
  color: #06eeff;
  box-shadow: 0 0 20px rgb(0, 238, 255);
}

.educacion-section {
    max-width: 1000px;
    margin: 90px auto;
	
}

p{
	font-size: 12px;
	color: #d9d9d9;
}

.educacion-title, .educacion-subtitle {
    color: #ffffff;
    margin-bottom: 60px;
}


.educacion-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.educacion-item {
    background-color:rgba(38, 33, 59, 0.381);
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(50% - 20px); /* Two columns with gap */
    box-sizing: border-box;
	padding-bottom: 30px
	
}

.fa-solid {
	font-size: 30px;
}

.educacion-item:hover {
    transform: translateY(-5px);
	background-color: rgba(11, 11, 11, 0.888);
}

.educacion-institution {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
	padding-left: 80px;
}



.decor-ima{
	float: left; /* Alinea la imagen grande a la izquierda */
    width: 400px; /* Ancho deseado para la imagen grande */
    margin-right: 30px;/* Margen derecho para separarla de las otras imágenes */
}



.tecnologias {
  display: flex;
  flex-wrap: wrap;
}

.subtitu {
	color: #03d5ff;
	text-shadow: 0 0 20px rgb(0, 255, 242);
}

.skills-p{
	text-align: left;
	color: antiquewhite;
	line-height: 22px;
	font-size: 14px;
	
}


.conten-images {
    overflow: hidden; /* Evita que las imágenes pequeñas floten junto a la imagen grande */
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 50px;
	
	
}

.redondea {
	padding-top: 40px;
	padding-left: 10px;
    width: 500px;
    float:left ;
    object-fit: cover; 
	padding-bottom: 20px;
}


.container-f {
            display: flex;
            justify-content: space-between;
            align-items: center;
			margin-bottom: 200px;
			margin-top: 100px;
			
        }

        .formu-sty {
            background-color: #0d1c20;
            padding: 40px;
			border-radius: 15px;
			box-shadow: 0 0 20px rgb(0, 255, 242);
			
        }

        .cent-form {
            display: flex;
            flex-direction: column;
			width: 300px;
			
        }

		.cent-form input {
            margin-bottom: 10px;
			margin-top: 6px;
            padding: 9px;
            border: none;
            border-radius: 7px;
			background-color: #ffffff;
			
		}

        .number {
            text-align: left;
            padding: 20px;
			font-size: 28px;
        }

		.number p{
			font-size: 16px;
		}

.btn1{
	margin-top: 23px;
	padding: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	width: 300px;
	font-weight: 600;
	color: #0eaab5;
}

.tex-lenged{
	font-size: 17px;
	color: #0bdeed;
}


@media (max-width: 600px) {
    main {
        width:100%;
        padding: 1rem;
        font-size: 16px; /* Reduce el tamaño de la fuente para móviles */
        line-height: 1.4;
    }

    .imagen-lado {
        width: 40%;
        max-width: 100%;
        margin-top: 20px;
		padding: 20px;
		box-shadow: none;
		
		
    }

    .texto-lado {
        width: 90%;
		padding-bottom: 30px;
    }

    h1 {
        font-size: 24px; /* Reduce el tamaño de la fuente para móviles */
		width: 400px;
    }

    .buton1 {
        justify-content: center; /* Centra los botones en móviles */
    }

    .buton1 button {
        margin: 10px 0; /* Ajusta el margen para móviles */
        width: 100%;
		margin-left: 10px;
    }

	.educacion-section{
		width: 500px;
		margin-left: 10px;
	}

    .educacion-item {
        margin-bottom: 20px; /* Añade margen inferior entre elementos */
		
    }

	.educacion-institution{
		font-size: 16px;
		padding-left: 10px;
		
	}

	.educacion-item p{
		text-align: left;
		padding-top: 20px;
	}

    .decor-ima {
        width: 0%;
        margin-right: 0px;
        margin-bottom: 20px; /* Añade margen inferior para separar las imágenes */
    }

	.conten-images{
		width: 470px;
	}
	.skills-p{
		padding-bottom: 20px;
	}

    .conten-images {
        padding: 10px 0; /* Ajusta el padding para móviles */
    }

    .redondea {
        width: 100%;
        padding: 0;
        margin-bottom: 20px; /* Añade margen inferior para separar las imágenes */
    }

    .container-f {
        flex-direction: column;
        align-items: center;
		margin-left: 80px;
		
    }

    .cent-form {
        width: 100%;
		
    }

	.formu-sty{
		width: 320px;
		margin-left: 60px;
		margin-top: 20px;
	}

    .btn1 {
        width: 100%;
        padding: 15px;
    }
}







