---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import "../styles/index.css";

---

<Layout title="Marlon">
    <Navbar/>
	<main >

		<section id="inicio" class="inicio">
		
		<div class="texto-lado">
		<h1 >¡Hola, soy<span class="text-gradient"> Marlon Esteban</span></h1>
		<p class="p-v2">Soy <span class="p-vcolor">Estudiante|</span></p>
		<p class="instructions">
			Estoy estudiando análisis y desarrollo de software, y me estoy enfocando principalmente en el desarrollo web.
			Mi meta es mejorar constantemente y aprender más en esta área. Me gustaría profundizar
			en diferentes tecnologías 
			y también aprender sobre buenas prácticas de desarrollo y metodologías ágiles.
		</p>
	</div>
	<img src="/portafolio.github.io-/images/marlon.jpg" alt="marlon" class="imagen-lado">
	</section>
	<div>
		<div class="footer-links">
            <div class="social-link">
                <a href="https://facebook.com/profile.php?id=61550280440936&sk=about&locale=es_LA"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
		<div class="buton1">
		<button>Cv</button>
		<button>Contactame</button>
	</div>
	</div>

	<section id="educacion" class="educacion-section">
        <h2 class="educacion-title">Educación</h2>
        <ul class="educacion-list">
            <div class="educacion-item">
				<i class="fa-solid fa-user-graduate" style="color: #5fd5ec;"></i>
            <strong class="educacion-institution">Título Bachiller (2020)</strong>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, cumque. 
				Quod doloribus rem distinctio commodi 
			</p>
			</div>
            <div class="educacion-item">
			<i class="fa-solid fa-laptop-code" style="color: #50dff2;"></i>
            <strong class="educacion-institution">Analis y desarrollo software (SENA)</strong>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, cumque. 
				Quod doloribus rem distinctio commodi </p>
            </div>
			<div class="educacion-item">
				<i class="fa-regular fa-bookmark" style="color: #4fe3da;"></i>
				<strong class="educacion-institution">Ingles</strong>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, cumque. 
					Quod doloribus rem distinctio commodi </p>
				</div>
				<div class="educacion-item">
				<i class="fa-solid fa-user-lock" style="color: #51ece9;"></i>
					<strong class="educacion-institution">Sistema operativo (Root)</strong>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, cumque. 
						Quod doloribus rem distinctio commodi </p>
					</div>
		</ul>
    </section>

	<section id="tecnologias">
		<h2>Tecnologias</h2>
		<div class="imagen-decore">
	    <img class="decor-ima" src="/portafolio.github.io-/images/codin3.png" alt="">
		</div>
		<div class="conten-images">
			<h2 class="subtitu">My Skills</h2>
			<p class="skills-p">Actualmente me encuentro , enfocado en adquirir habilidades de codificación y comprensión de diversos lenguajes de programación. Estoy desarrollando la capacidad de resolver problemas de programación de manera eficiente y lógica. Tengo conocimientos en diseño web utilizando CSS y HTML, incluyendo la capacidad de aplicar estilos avanzados como flexbox, alineación de elementos, y personalización de formularios. Me esfuerzo por aprender constantemente, mejorar mis habilidades y aplicar nuevos conocimientos a mis proyectos de programación, con un enfoque detallado para asegurar que los elementos 
				de mi página web estén bien alineados y estilizados.</p>
			<img class="redondea" src="/portafolio.github.io-/images/pixelcut.png" alt="">
			
		</div>
	
	</section>

	<section id="contactame">
		<h2>Contactame</h2>
<div>
	<div class="container-f">
		<div class="number">
			<h3><i class="fa-regular fa-address-book" style="color: #4bfbf8;"></i>
				Contacto</h3>
				
			<p>+573202148390</p>
            <hr>
            
            <h3><i class="fa-regular fa-envelope" style="color: #46e6fb;"></i> 
				Correo</h3>
            <p>marlonestebanleonrojas@gmail.com</p>
			<hr>
        </div>
        <div class="formu-sty">
            <form class="cent-form" action="/portafolio.github.io-" method="post">
                <legend class="tex-lenged">Nombre Completo</legend>
                <input type="text" name="name">
                <legend class="tex-lenged">Correo</legend>
                <input type="email" name="email">
                <legend class="tex-lenged">Telefono</legend>
                <input type="tel" name="telefono">
                <button class="btn1">Enviar</button>
            </form>
        </div>
        
    </div>



	</section>

        <section>
			<h2>Proyectos</h2>
		<ul role="list" class="link-card-grid"> 
			<Card 
				href="/portafolio.github.io-/marlon"
				title="Libros"
				body="Recomiendo un libro que he creado de ciencia ficcion"
			/>
			<Card
				href="#"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="#"
				title="Blogs"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="#"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
			<ul role="list" class="link-card-grid">
				<Card
					href="#"
					title="Dercagar Pdf"
					body="Learn how Astro works and explore the official API docs."
			/>
		</ul>
	</section>
	
	</main>
</Layout>



<script type="module">
    // Script JavaScript para el desplazamiento suave
    const links = document.querySelectorAll('header ul li a');

    links.forEach(link => {
        link.addEventListener('click', (event) => {
            event.preventDefault();
            const targetId = link.getAttribute('href').substring(1);
            const targetSection = document.getElementById(targetId);

            if (targetSection) {
                targetSection.scrollIntoView({ behavior: 'smooth' });
            }
        });
    });
</script>

<script
src="https://kit.fontawesome.com/72c31be9da.js"
crossorigin="anonymous"
></script>
