---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---
<Layout title='holis'>
    <Navbar/>


<section>
    <h1 class="color-h">Los Guardianes del Cosmos: Travesía en el Universo</h1>
    <p class="color-p">Los Guardianes del Cosmos: Travesía en el Universo, es una obra fascinante que narra la épica historia de un grupo 
        de seres dedicados a proteger la estabilidad y el equilibrio en el vasto universo.
        A través de sus páginas, se despliega un relato lleno de aventuras, intrigas cósmicas y poderosos enfrentamientos
        entre fuerzas de la luz y la oscuridad de lo que es el infinito cosmos y replantearse que somos y a donde vamos

        Donde se mostraran  mundos increíbles y planetas lejanos, donde los Guardianes enfrentan desafíos tanto internos como externos mientras luchan por preservar la armonía universal. Cada capítulo revela nuevos misterios, revelaciones sorprendentes y personajes inolvidables que dan vida a esta emocionante saga.
        
        
        Próximamente en:  intriga cósmica el juego de las entidades
        
        En las sombras de  un  planeta, entidades malévolas se alimentan de la oscuridad. Cuando dos intrusos se acercan, se desata una serie de eventos que desafían el equilibrio del universo, llevando a un líder de la raza a buscar desesperadamente respuestas en medio de una intriga cósmica.</p>
</section>

</Layout>



<style>
*{
    width: 800px;
    margin: 70px;
}
    .home{
        position: fixed;
    }

.color-h{
color: rgb(0, 247, 255);
text-shadow: 0 0 20px rgb(0, 238, 255);
}

.color-p{
color: antiquewhite;
line-height: 30px;
}
</style>