<header class="header">
    
    <div class="logo-name">
    <p>Marlon  <span class="logo-span">Leon</span></p> 
    </div>
    <nav>
    <ul>
        <li><a href="/portafolio.github.io-" >Inicio</a></li>
        <li><a href="#educacion" >Educacion</a></li>
        <li><a href="#tecnologias">Tecnologias</a></li>
        <li><a href="#contactame" >Contactame</a></li>
    </ul>
</nav>
</header>


<style>
   /* Estilos para el logotipo */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


.logo-name p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
}
.logo-span{
    color: aquamarine;
    font-weight: 900;
    text-shadow: 0 0 10px rgb(0, 255, 242);
}

/* Estilos para el encabezado */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    font-family: "Montserrat", sans-serif;
  
}

/* Estilos para los enlaces en la barra de navegación */
header nav ul li a {
    text-decoration: none;
    font-size: 1.22rem; /* 20px en rem */
    padding: 0.75rem 1rem; /* Espaciado vertical 0.75rem y horizontal 1rem */
    color: rgb(247, 246, 246);
    display: block;
    font-weight: 500;
    
}

/* Estilos para la lista de navegación */
.header nav ul {
    margin: 0; /* Elimina el margen predeterminado de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    
    
}

.header nav ul li {
    position: relative;
    float: left;
    list-style: none;
    margin-right: 1rem; /* Espaciado entre elementos de lista */
   
}

/* Estilos para el efecto de subrayado */
.header nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #02e6ff;
    transition: width 0.3s ease;
}

.header nav ul li a:hover::after {
    width: 100%; /* Añade un subrayado al pasar el mouse */
}


</style>